@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.shadow {
  box-shadow: 0px 1px 13px -3px rgba(0, 0, 0, 1);
}

body {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  font-size: 2rem;
  padding: 0rem 1rem;
  transition: transform 0.4s ease;
}

a:hover {
  transform: scale(1.3);
}

/* main styling */

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  padding: clamp(2rem, 5vw, 5rem);
  gap: 2rem;
}

#profile {
  width: 80%;
  object-fit: cover;
  backdrop-filter: blur(10px);
  border: 1rem solid rgba(226, 226, 226, 0.85);
  border-radius: 50%;
}

main > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(1rem, -2.1494rem + 6.639vw, 1.5rem);
  backdrop-filter: blur(10px);
  background: rgba(226, 226, 226, 0.85);
  padding: 1.5rem;
  border-radius: 1rem;
  color: rgb(21, 21, 21);
}

main > div > div {
  margin-top: 0.7rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

/* section styling */



@media (max-width: 375px) {
  main > div > div {
    justify-content: space-between;
  }

  a {
    padding: 0;
  }

  h1 {
    font-size: 1.5rem;
  }
  main > div > p {
    font-size: smaller;
  }
}


